<div class="row">
  <div class="col-sm-12">
    <%= datagrid_form_for @grid, :method => :get, :url => users_path %>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <%= datagrid_table @grid %>
    <%= paginate(@grid.assets) %>
  </div>
</div>